

body * {
	display: inline-block;
}
 
/*Number-1*/

.number-1 {
	margin: 50px; 
	width: 200px;
	height: 125px;
	background: blue;
	background: rgb(179, 179, 240);
	border-radius: 6px;
	box-shadow: inset 0 -6px 0 rgb(121, 121, 180);
	-webkit-transition:all 0.5s ease;

}

.number-1:hover {
	margin-top: 53px;
	height: 122px;
	-webkit-transform: rotate(180deg);
	box-shadow: inset 0 -3px 0 rgb(121, 121, 180)
	-webkit-transition:all 0.5s ease;

}
 /* NUMBER 2*/

.number-2 {
	width: 200px;
	height: 200px;
	margin: 50px;
	background: rgb(179, 179, 240);

}

.number-2:hover {
	border-radius: 200px;
	-webkit-transition:all 0.5s ease;
	-webkit-transform: rotate(180deg);
}

.number-3 {
  width: 200px;
  height: 200px;
  background: red;
  margin: 50px;
  -webkit-transition: background-color 2s ease-out;
}

.number-3:hover {
  background-color: green;
  cursor: pointer;
}

.number-4 {
	width: 100px;
  	height: 100px;
  	margin: 50px;
    -webkit-transition: -webkit-transform 0.3s ease;
    
}

.number-4:hover {
    -webkit-transform: scale(1.5);
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    
}

